/* Beertap CSS
 * 
 * width: 60px
 * min-height: 60px + 10px + 50px
 * 
 * <div class="container">
 *   <div class="tap"></div>
 *   <div class="stream"></div>
 *   <div class="glass"></div>
 * </div>
 */

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-size: contain;
  width: 60px;
}

.tap {
  display: block;
  flex-shrink: 0;
  width: 100%;
  height: 54px;
  background: url(http://localhost:9090/build/tap.svg) 0 0 no-repeat;
  background-size: 60px 54px;
}

.stream {
  flex: 1 1 0;
  min-height: 50px;
  background: url(http://localhost:9090/build/stream.svg) 0 0 repeat-y;
  background-size: 24px 500px;
  animation-name: streamAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.glass {
  width: 100%;
  height: 50px;
  flex-shrink: 0;
  background: url(http://localhost:9090/build/glass.svg) 0 0 no-repeat;
  background-size: 34px 50px;
  background-position: 21px 0px;
}

@keyframes streamAnimation {
  0%   {background-color:transparent; background-position:27px 0;}
  100% {background-color:transparent; background-position:27px 500px;}
}
