/* Beertap CSS
 * 
 * width: 60px
 * min-height: 60px + 10px + 50px
 * 
 * <div class="container">
 *   <div class="tap"></div>
 *   <div class="stream"></div>
 *   <div class="glass"></div>
 * </div>
 */

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-size: contain;
  width: 60px;
}

.tap {
  display: block;
  flex-shrink: 0;
  width: 100%;
  height: 54px;
  background: url(http://localhost:9090/build/tap.svg) 0 0 no-repeat;
  background-size: 60px 54px;
}

.stream {
  flex: 1 1 0;
  min-height: 50px;
  background: url(http://localhost:9090/build/stream.svg) 0 0 repeat-y;
  background-size: 24px 500px;
  animation-name: streamAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.beerEBC-0  { fill: #FEE799 }
.beerEBC-1  { fill: #FDD979 }
.beerEBC-2  { fill: #FDCB5A }
.beerEBC-3  { fill: #FDCB5C }
.beerEBC-4  { fill: #FCC143 }
.beerEBC-5  { fill: #F7B324 }
.beerEBC-6  { fill: #F5A800 }
.beerEBC-7  { fill: #EE9E01 }
.beerEBC-8  { fill: #E69100 }
.beerEBC-9  { fill: #E69100 }
.beerEBC-10 { fill: #E48A02 }
.beerEBC-11 { fill: #DA7E01 }
.beerEBC-12 { fill: #D37400 }
.beerEBC-13 { fill: #CB6C00 }
.beerEBC-14 { fill: #C66403 }
.beerEBC-15 { fill: #C66403 }
.beerEBC-16 { fill: #BF5C01 }
.beerEBC-17 { fill: #B65300 }
.beerEBC-18 { fill: #AF5000 }
.beerEBC-19 { fill: #AB4600 }
.beerEBC-20 { fill: #A84504 }
.beerEBC-21 { fill: #A24001 }
.beerEBC-22 { fill: #9C3900 }
.beerEBC-23 { fill: #963500 }
.beerEBC-24 { fill: #912F00 }
.beerEBC-25 { fill: #8C2D01 }
.beerEBC-26 { fill: #852705 }
.beerEBC-27 { fill: #832501 }
.beerEBC-28 { fill: #7E1F01 }
.beerEBC-29 { fill: #771C01 }
.beerEBC-30 { fill: #721B00 }
.beerEBC-31 { fill: #6C1501 }
.beerEBC-32 { fill: #651202 }
.beerEBC-33 { fill: #670F01 }
.beerEBC-34 { fill: #620F01 }
.beerEBC-35 { fill: #5B0D01 }
.beerEBC-36 { fill: #560C03 }
.beerEBC-37 { fill: #540B05 }
.beerEBC-38 { fill: #500A08 }
.beerEBC-39 { fill: #4E0A09 }
.beerEBC-40 { fill: #4A0605 }
.beerEBC-41 { fill: #440706 }
.beerEBC-42 { fill: #420807 }
.beerEBC-43 { fill: #3B0908 }
.beerEBC-44 { fill: #390708 }
.beerEBC-45 { fill: #39070A }
.beerEBC-46 { fill: #39080B }
.beerEBC-47 { fill: #35090A }
.beerEBC-48 { fill: #30090A }
.beerEBC-49 { fill: #2A0809 }
.beerEBC-50 { fill: #260808 }
.beerEBC-51 { fill: #260808 }
.beerEBC-52 { fill: #230706 }
.beerEBC-53 { fill: #1E0606 }
.beerEBC-54 { fill: #190506 }
.beerEBC-55 { fill: #140404 }
.beerEBC-56 { fill: #0F0303 }
.beerEBC-57 { fill: #0F0303 }
.beerEBC-58 { fill: #060203 }
.beerEBC-59 { fill: #000000 }

.glass {
  width: 100%;
  height: 50px;
  flex-shrink: 0;
  background: url(http://localhost:9090/build/glass.svg) 0 0 no-repeat;
  background-size: 34px 50px;
  background-position: 21px 0px;
}

@keyframes streamAnimation {
  0%   {background-color:transparent; background-position:27px 0;}
  100% {background-color:transparent; background-position:27px 500px;}
}
