/*
 * -- MENU STYLES --
 * Make the menu have a very faint box-shadow.
 */
.menu {

  margin: 20px;
  background: white;
}

.pure-menu {
    box-shadow: 0 2px 1px rgba(64,82,82, 1);
    background: rgba(220,212,198, 1);
}
