/*
 * -- MENU STYLES --
 * Make the menu have a very faint box-shadow.
 */
.menu {
  margin: 20px;
  background: transparent;
  bottom: 0;
  position: absolute;
  right:0;
  text-align: right;
  z-index: 100;
}
.menuOuter {
  position: relative;
}
