html, body, :global(#app) {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
}

.sidebar {
  width: 200px;
  position: relative;
  background:#bdad8a;
}

.beertap {
  position: absolute;
  top: 100px;
  left: 0;
  bottom: 0;
}

.content {
  flex: 1;
}